.heading {
    font-size: 23px;
    width: 100%;
    margin : 0px ;
}

#songName {
    font-size: 23px;
    width: 28%;
    
    
}

canvas {
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(1, 225, 225);
    margin-top: 50px;
}


